In [1]:
import numpy as np
import pandas as pd
import preprocessor as p

In [2]:
df = pd.read_csv('assets/df_combined.csv')

In [3]:
df.head()

,tweet_id,tweet_text,class_label,file_name,event,year,event_type,data_type
0,1.065845e+18,"Camp Fire leaves over 13,000 without homes thi...",displaced_people_and_evacuations,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev
1,1.061321e+18,"So in a truly strange world, we have @RealJame...",not_humanitarian,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev
2,1.063536e+18,66 people have died and more than 600 are stil...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev
3,1.062711e+18,BBC News - California wildfires: Nine dead and...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev
4,1.064808e+18,Death toll in California’s #CampFire has climb...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev

In [6]:
df.tail()

,tweet_id,tweet_text,class_label,file_name,event,year,event_type,data_type
76479,8.719806e+17,"South Korean Actress Lee Young-ae, ‘Changumi’ ...",rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train
76480,8.723400e+17,Flood donations granted under North-South Brot...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train
76481,8.701779e+17,#Inspiring Naval diving teams rescue a dog whi...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train
76482,8.705100e+17,Norway to provide US$ 1.2 million to Sri Lanka...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train
76483,8.704611e+17,RT @NewsArmageddon: Sri Lanka deploys more tro...,other_relevant_information,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train

https://pypi.org/project/tweet-preprocessor/

In [7]:
p.set_options(p.OPT.URL, p.OPT.MENTION, p.OPT.RESERVED, p.OPT.EMOJI, p.OPT.SMILEY, p.OPT.NUMBER)
df['tweet_text_cleaned'] = df['tweet_text'].apply(p.clean)

In [12]:
df['hashtags'] = df['tweet_text_cleaned'].str.lower().str.findall(r"#(\w+)")

In [14]:
p.set_options(p.OPT.URL, p.OPT.MENTION, p.OPT.RESERVED, p.OPT.EMOJI, p.OPT.SMILEY, p.OPT.NUMBER, p.OPT.HASHTAG)
df['tweet_text_cleaned'] = df['tweet_text_cleaned'].apply(p.clean)

In [15]:
df

,tweet_id,tweet_text,class_label,file_name,event,year,event_type,data_type,tweet_text_cleaned,hashtags
0,1.065845e+18,"Camp Fire leaves over 13,000 without homes thi...",displaced_people_and_evacuations,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,Camp Fire leaves over without homes this Thank...,[]
1,1.061321e+18,"So in a truly strange world, we have @RealJame...",not_humanitarian,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,"So in a truly strange world, we have playing t...",[]
2,1.063536e+18,66 people have died and more than 600 are stil...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,people have died and more than are still missi...,"[californiawildfires, cafire, campfire, califo..."
3,1.062711e+18,BBC News - California wildfires: Nine dead and...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,BBC News - California wildfires: Nine dead and...,[]
4,1.064808e+18,Death toll in California’s #CampFire has climb...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,"Death toll in Californias has climbed to , the...",[campfire]
...,...,...,...,...,...,...,...,...,...,...
76479,8.719806e+17,"South Korean Actress Lee Young-ae, ‘Changumi’ ...",rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,"South Korean Actress Lee Young-ae, Changumi in...","[floodsl, srilanka, lka]"
76480,8.723400e+17,Flood donations granted under North-South Brot...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,Flood donations granted under North-South Brot...,"[srilanka, lk, lka]"
76481,8.701779e+17,#Inspiring Naval diving teams rescue a dog whi...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,Naval diving teams rescue a dog while undertak...,[inspiring]
76482,8.705100e+17,Norway to provide US$ 1.2 million to Sri Lanka...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,Norway to provide US$ million to Sri Lanka for...,[]
76483,8.704611e+17,RT @NewsArmageddon: Sri Lanka deploys more tro...,other_relevant_information,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,: Sri Lanka deploys more troops as toll climbs...,[flood]

In [22]:
from gensim.parsing.preprocessing import preprocess_string, strip_tags, strip_punctuation, strip_multiple_whitespaces, strip_numeric

https://radimrehurek.com/gensim/parsing/preprocessing.html

In [26]:
CUSTOM_FILTERS = [lambda x: x.lower(), strip_tags, strip_punctuation, strip_multiple_whitespaces, strip_numeric]
df['tweet_text_cleaned'] = df['tweet_text_cleaned'].apply(lambda x:' '.join(preprocess_string(x, CUSTOM_FILTERS)))

In [3]:
df['processed_text_length'] = df['tweet_text_cleaned'].str.len()

In [7]:
unique_labels = df['class_label'].unique()
dict_label = dict(zip(unique_labels,np.arange(len(unique_labels))))

In [8]:
dict_label

{'displaced_people_and_evacuations': 0,
 'not_humanitarian': 1,
 'injured_or_dead_people': 2,
 'infrastructure_and_utility_damage': 3,
 'other_relevant_information': 4,
 'rescue_volunteering_or_donation_effort': 5,
 'sympathy_and_support': 6,
 'missing_or_found_people': 7,
 'requests_or_urgent_needs': 8,
 'caution_and_advice': 9}

In [9]:
df['class_label_id'] = df['class_label'].map(dict_label)

In [10]:
df

,tweet_id,tweet_text,class_label,file_name,event,year,event_type,data_type,tweet_text_cleaned,hashtags,class_label_id
0,1.065845e+18,"Camp Fire leaves over 13,000 without homes thi...",displaced_people_and_evacuations,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,camp fire leaves over without homes this thank...,[],0
1,1.061321e+18,"So in a truly strange world, we have @RealJame...",not_humanitarian,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,so in a truly strange world we have playing th...,[],1
2,1.063536e+18,66 people have died and more than 600 are stil...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,people have died and more than are still missi...,"['californiawildfires', 'cafire', 'campfire', ...",2
3,1.062711e+18,BBC News - California wildfires: Nine dead and...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,bbc news california wildfires nine dead and mo...,[],2
4,1.064808e+18,Death toll in California’s #CampFire has climb...,injured_or_dead_people,california_wildfires_2018_dev.tsv,california_wildfires_2018,2018,fire,dev,death toll in californias has climbed to the n...,['campfire'],2
...,...,...,...,...,...,...,...,...,...,...,...
76479,8.719806e+17,"South Korean Actress Lee Young-ae, ‘Changumi’ ...",rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,south korean actress lee young ae changumi in ...,"['floodsl', 'srilanka', 'lka']",5
76480,8.723400e+17,Flood donations granted under North-South Brot...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,flood donations granted under north south brot...,"['srilanka', 'lk', 'lka']",5
76481,8.701779e+17,#Inspiring Naval diving teams rescue a dog whi...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,naval diving teams rescue a dog while undertak...,['inspiring'],5
76482,8.705100e+17,Norway to provide US$ 1.2 million to Sri Lanka...,rescue_volunteering_or_donation_effort,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,norway to provide us million to sri lanka for ...,[],5
76483,8.704611e+17,RT @NewsArmageddon: Sri Lanka deploys more tro...,other_relevant_information,srilanka_floods_2017_train.tsv,srilanka_floods_2017,2017,flood,train,sri lanka deploys more troops as toll climbs t...,['flood'],4

In [5]:
df = df[~df['tweet_text_cleaned'].isna()]

In [6]:
df.to_csv('assets/df_cleaned.csv', index=False)